* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.left-panel {
  flex: 1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel img {
  width: 80%;
  max-width: 400px;
}

.right-panel {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.login-box {
  width: 80%;
  max-width: 400px;
  padding: 40px;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 6px;
  margin-top: 15px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password a {
  font-size: 0.9em;
  color: #cb3eff;
  text-decoration: none;
}

.login-btn {

  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  background-color: #5f72ff;
  color: white;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
}

.signup-text a {
  color: #2575fc;
  text-decoration: none;
}
.signup-text a:hover {
  text-decoration: underline;
}